body {
	font-family: Roboto, sans-serif;
	background: #2BC0E4; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2BC0E4 , #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}

h1 {
	background-color: #2980b9;
	background: linear-gradient(to left, #6791e8 , #a79fdc);
	color: #fff;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
	border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: 1s ease;
	cursor: default;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

li:hover {
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
}

.blinkAnim {
	animation: blink 0.7s linear;
}

@keyframes blink {  
	50% { 
		background-color: #f1e8ff; 
	}
}

span {
	height: 40px;
	margin: 0 10px;
	text-align: center;
	display: inline-block;
	transition: 0.2s linear;
}

.removeButton {
	float: right;
	background: rgb(119, 119, 119);
	color: #ffffff;
	width: 20px;
	height: 20px;
	line-height: 18px;
	margin-top: 10px;
	font-size: 13px;
	margin-right: 5px;
	border-radius: 50%;
	opacity: 0;
	cursor: pointer;
}

.removeButton:hover {
	background: #000;
}

.completed:hover .checkButton {
	color: #717171;
}

.checkButton {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.checkButton:hover {
	color: #000;
}

input {
	font-size: 18px;
	width: 100%;
	padding: 13px 13px 13px 30px;
	box-sizing: border-box;
	color: #525252;
	border: 3px solid rgba(0, 0, 0, 0);
	transition: 0.3s ease;
}

.addButton {
	font-size: 14px;
	margin-right: 10px;
	background: #7794e5;
	border-radius: 6px;
	padding: 5px;
	margin-top: 12px;
	color: #ffffff;
	position: absolute;
	right: 0;
	left: unset;
	cursor: pointer;
	opacity: 0;
	transition: 0.3s ease;
	pointer-events: none;
}

.addNewContainer {
	width: 100%;
	position: relative;
	border-bottom: 1px solid #cccccc;
}

.addNewContainer .plusSign {
	font-size: 18px;
	margin-left: 10px;
	margin-top: 18px;
	color: #e6e6e6;
	position: absolute;
	left: 0;
}

li:hover .removeButton {
	opacity: 1.0;
}

input:focus {
	background: #fff;
	border: 3px solid rgba(0, 0, 0, 0);
	outline: none;
}

.fa-plus {
	float: right;
}

.completed {
	color: #ccc;
	text-decoration: line-through;
}

#container {
	width: 50%;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.48);
}

@media(max-width: 768px) {
	body {
		background: #fff;
		margin: 0;
	}

	#container {
		width: 100%;
		margin: 0;
		box-shadow: none;
	}
}