body {
	font-family: Roboto, sans-serif;
	background: #2BC0E4; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2BC0E4 , #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}

h1 {
	background-color: #2980b9;
	background: rgba(126, 9, 255, 0.3);
	color: #fff;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
	cursor: default;
}

span {
	height: 40px;
	margin: 0 10px;
	text-align: center;
	display: inline-block;
	transition: 0.2s linear;
}

.removeButton {
	float: right;
    background: rgb(119, 119, 119);
    color: #ffffff;
    width: 20px;
    height: 20px;
    line-height: 18px;
    margin-top: 10px;
    font-size: 13px;
    margin-right: 5px;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
}

.removeButton:hover {
	background: #000;
}

.checkButton {
	cursor: pointer;
}

.checkButton:hover {
	color: #000;
}

input {
	font-size: 18px;
	background-color: #f7f7f7;
	background-color: rgba(193, 195, 255, 0.89);
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 3px solid rgba(0, 0, 0, 0);
}

li:hover .removeButton {
	opacity: 1.0;
}

input:focus {
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

.fa-plus {
	float: right;
}

.completed {
	color: #ccc;
	text-decoration: line-through;
}

#container {
	width: 50%;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.48);
}
